extends ../templates/default

block content
	div(class="container")
		div(class='row')
			
			h4="Ingresa un nuevo usuario para tu oficina operativa"
			div(class='col s6 offset-s3')
					br()
					br()
					form(action='/nuevo-usuario' method='post' autocomplete='off')
						div(class='form-group')
						label(for="email")= 'Email'
						input(type='email' name='email' id='email' placeholder='Email' class='form-control')
						div(class='form-group')
						label(for="nombre")= 'Nombre'
						input(type='text' name='nombre' id='nombre' placeholder='Nombre' class='form-control')
						div(class='form-group')
						input(type="hidden" name="tipo" value="2")
						input(type="hidden" name="grupo" value= user.id_grupo)
						div(class='form-group')
						div(class='form-group')
						label(for="password")= 'Password'
						input(type='password' name='password' id='password' placeholder='Password' class='form-control')
						button(type="submit" class='btn btn-default')= 'Nuevo Usuario '